.container{
  display: flex;
  height: 416px;
  justify-content: center;
  align-items: center;
}

.my-calc {
margin-top: 43px;
  width: 420px;
  height: 457px;
  padding: 1px;  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 0fr;
  grid-gap: 1px;
background: #d5d5d5;
}
.my-calc input {
  font-size: 30px;
  outline: none;
  text-align: center;
  padding: 0 12px;
  color: #464646;
}
.my-calc button {
  font-size: 30px;
}
.mostrar {
  grid-column: 1/-1; 
  grid-row: span 1;
  background: rgb(255, 255, 255);
  height: 90px;
  border: none;
}
.btn{
  border: none;
  height: 90px;
  cursor: pointer;
}
.btn-span {
  grid-row: span 2;
  background-color: rgb(0 194 221);
  color: #fff;
  border: none;
  cursor: pointer;
}
.valor{
  background-color: rgb(255, 255, 255);
  color: #4b5563;
}
.simbolo{
  background-color:#f3f4f6;
  color: #4b5563;

}